.sidebar {
    height: 100px;
    width: 100%;
    background-color: black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        li{
            margin-top: 30px;
            list-style-type: none;
            #close-btn{
                position: absolute;
                right: 25px;
            }
            a{
                text-decoration: none;
                color: whitesmoke;
                font-size: 24px;
                margin-left: 60px;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
            a:hover{
                color: white;
            }
        }
    }
}
.close {
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}